# Downloaded installers
installers/

# Generated NSIS scripts
*.nsi

# Built installers
bin/

# Build tools
build/
EXE/tools/openocd-picoprobe/scripts/target/zynq_7000.cfg
EXE/tools/zadig.exe
